.item-card {
  overflow: hidden;

  background: #ffffff;

  border: 2px solid #2f2540;
  border-radius: 18px;

  box-shadow: 5px 5px 0 #2f2540;

  transition: 0.2s ease;
}

.item-card:hover {
  transform: translateY(-5px);

  box-shadow: 8px 8px 0 #2f2540;
}

/* IMAGE */

.item-card-image {
  height: 230px;

  display: block;

  position: relative;

  overflow: hidden;

  background: #f5a9d8;
}

.item-card-image img {
  width: 100%;
  height: 100%;

  display: block;

  object-fit: cover;

  transition: transform 0.3s ease;
}

.item-card:hover .item-card-image img {
  transform: scale(1.04);
}

.item-card-no-image {
  height: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background: #f7d35d;
}

.item-card-no-image span {
  font-size: 55px;
}

.item-card-no-image small {
  margin-top: 5px;

  font-size: 10px;
  font-weight: 800;
}

/* STATUS */

.item-status {
  position: absolute;

  top: 13px;
  left: 13px;

  padding: 7px 10px;

  background: #fffaf7;

  border: 2px solid #2f2540;
  border-radius: 8px;

  font-size: 9px;
  font-weight: 800;
}

.item-status.lost {
  background: #f5a9d8;
}

.item-status.found {
  background: #c9f58f;
}

.item-status.returned {
  background: #b9a4d2;
}

/* CONTENT */

.item-card-content {
  padding: 20px;
}

.item-card-location {
  color: #b34d91;

  font-size: 10px;
  font-weight: 800;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-card-content h3 {
  margin-top: 7px;

  font-family: "Fredoka", sans-serif;

  font-size: 27px;

  line-height: 1;
}

.item-card-description {
  margin-top: 10px;

  color: #716777;

  font-size: 12px;
  line-height: 1.5;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

/* FOOTER */

.item-card-footer {
  margin-top: 18px;

  padding-top: 13px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid #e8e1e9;
}

.item-card-footer > span {
  color: #8b8191;

  font-size: 10px;
}

.item-card-footer a {
  color: #51465f;

  font-size: 11px;
  font-weight: 800;
}

.item-card-footer a:hover {
  color: #b34d91;
}